body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("./pokemon-bg.jpg") no-repeat;
    background-size:cover;
}

h1 {
    text-align: center;
    font-size: 70px;
    
}

#content-box {
    width: 1000px;
    height: 1000px;
    border: 10px solid lightgray;
    border-radius: 10px;

    /* background-color: green; */
    display: block;
    margin: 0 auto;
    margin-top: 60px;

    background: url("./pokeball.jpg") no-repeat;
    background-size: cover;

}

#pokemon-info {
    width: 1000px;
    height: 1000px;
    /* background-color: cyan; */
}

/* #pokemon-list {
    width: 250px;
    height: 500px;
    /* background-color: yellow; */
    /* font-size: 18px;
    overflow-y: auto;
} */

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

#img-box {
    /* filter: brightness(0%); */
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    margin-top: 25px;
}

#img-box img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.hidden {
    filter: brightness(0%);
}

#guessbar {
    width: 660px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    gap: 4px
}

#pokemon-types {
    text-align: center;
    margin-top: 10px;
}

.type-box {
    text-align: center;
    width: 20px;
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

.mystery {
    background-color: black;
    color: lightgray;
}