body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("./pokemon-bg.jpg") no-repeat;
    background-size:cover;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    
}

#content-box {
    width: 1200px;
    height: 1200px;
    border: 10px solid lightgray;
    border-radius: 10px;

    /* background-color: green; */
    display: block;
    margin: 0 auto;
    margin-top: 60px;

    background: url("pokeball.jpg");
    background-size: cover;

}

#pokemon-info {
    width: 1000px;
    height: 1000px;
    /* background-color: cyan; */
}

/* #pokemon-list {
    width: 250px;
    height: 500px;
    /* background-color: yellow; */
    /* font-size: 18px;
    overflow-y: auto;
} */

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

#name-box {
    height: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name-tag {
    text-align: center;
    width: 100px;
    height: 30px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}

#BinBar {
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.gameIcon {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#BinBanButton {
    height: 80px;
    width: 80px;
    margin-left: 560px;
    margin-top: 225px;
    border-radius: 50%;
    background: url("BinBan.jpg") no-repeat;
    background-size: cover;
}
    
#img-box {
    /* filter: brightness(0%); */
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
}

#img-box img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.hidden {
    filter: brightness(0%);
}

#guessbar {
    width: 275px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    gap: 4px
}

#pokemon-types {
    text-align: center;
    margin-top: 10px;
}

.type-box {
    text-align: center;
    width: 20px;
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

.mystery {
    background-color: black;
    color: lightgray;
}

.name {
    background-color: white;
    color: black;
    font: comic sans;
    font-size: 20px;
}

.gen0 {
    background: url("./pokemonA.jpg") no-repeat;
    background-size: cover;
}

.gen1 {
    background: url("./PokemonRed.jpeg") no-repeat;
    background-size: cover;
}

.gen2 {
    background: url("./PokemonGold.jpg") no-repeat;
    background-size: cover;
}

.gen3 {
    background: url("./PokemonSapphire.jpg") no-repeat;
    background-size: cover;
}

.gen4 {
    background: url("./PokemonPlatium.jpg") no-repeat;
    background-size: cover;
}

.gen5 {
    background: url("./PokemonWhite.png") no-repeat;
    background-size: cover;
}

.gen6 {
    background: url("./PokemonX.jpg") no-repeat;
    background-size: cover;
}

.gen7 {
    background: url("./PokemonSun.jpg") no-repeat;
    background-size: cover;
}

.gen8 {
    background: url("./pokemonShield.jpg") no-repeat;
    background-size: cover;
}

.gen9 {
    background: url("./PokemonScarlet.jpg") no-repeat;
    background-size: cover;
}
